<br/>
<table>
	<thead>
		<tr>
			<td>
				Title
			</td>
			<td>
				<a href="<?=
					(isset($_GET['sort']) && $_GET['sort'] === 'username.DESC')  ? '?sort=username.ASC' : '?sort=username.DESC';
				?>">UserName</a>

			</td>
			<td>
				<a href="<?=
					(isset($_GET['sort']) && $_GET['sort'] === 'email.DESC')  ? '?sort=email.ASC' : '?sort=email.DESC';
				?>">Email</a>
			</td>
			<td>
				<a href="<?=
					(isset($_GET['sort']) && $_GET['sort'] === 'status.DESC')  ? '?sort=status.ASC' : '?sort=status.DESC';
				?>">Status</a>
			</td>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($data['pages'] as $page_data) { ?>

			<tr>
				<td>
					<a href="/pages/view/<?=$page_data['id']?>">Task - <?=$page_data['title']?></a>
				</td>
				<td>
					<?=$page_data['username']?>
				</td>
				<td>
					<?=$page_data['email']?>
				</td>

				<?=$page_data['status'] == 1 ?
				'<td style= "color: green">done</td>'
				: '<td style= "color: red">on proces</td>' ?>

			</tr>


		<?php } ?>
	</tbody>
</table>
<div>
	<a href="/pages/add/"><button class="btn btn-sm btn-success">New Task</button></a>
</div>

<?php

$page = isset($_GET['page']) ? $_GET['page'] : 1;

$total = intval((($data['count']-1) / 3) + 1);

if ($page != 1) $pervpage = '<a href=?page=1>Первая</a> | <a href=?page='. ($page - 1) .'>Предыдущая</a> | ';

if ($page != $total) $nextpage = ' | <a href=?page='. ($page + 1) .'>Следующая</a> | <a href=?page=' .$total. '>Последняя</a>';

if($page - 5 > 0) $page5left = ' <a href=?page='. ($page - 5) .'>'. ($page - 5) .'</a> | ';
if($page - 4 > 0) $page4left = ' <a href=?page='. ($page - 4) .'>'. ($page - 4) .'</a> | ';
if($page - 3 > 0) $page3left = ' <a href=?page='. ($page - 3) .'>'. ($page - 3) .'</a> | ';
if($page - 2 > 0) $page2left = ' <a href=?page='. ($page - 2) .'>'. ($page - 2) .'</a> | ';
if($page - 1 > 0) $page1left = '<a href=?page='. ($page - 1) .'>'. ($page - 1) .'</a> | ';

if($page + 5 <= $total) $page5right = ' | <a href=?page='. ($page + 5) .'>'. ($page + 5) .'</a>';
if($page + 4 <= $total) $page4right = ' | <a href=?page='. ($page + 4) .'>'. ($page + 4) .'</a>';
if($page + 3 <= $total) $page3right = ' | <a href=?page='. ($page + 3) .'>'. ($page + 3) .'</a>';
if($page + 2 <= $total) $page2right = ' | <a href=?page='. ($page + 2) .'>'. ($page + 2) .'</a>';
if($page + 1 <= $total) $page1right = ' | <a href=?page='. ($page + 1) .'>'. ($page + 1) .'</a>';



if ($total > 1)
{
Error_Reporting(E_ALL & ~E_NOTICE);
echo "<div class=\"pstrnav\">";
	echo $pervpage.$page5left.$page4left.$page3left.$page2left.$page1left.'<b>'.$page.'</b>'.$page1right.$page2right.$page3right.$page4right.$page5right.$nextpage;
	echo "</div>";
}
?>